<div class="about-section">
    <div class="wrapper about">
        <div class="about-content">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nisi vel tellus fermentum laoreet. Aenean feugiat molestie velit, egestas condimentum metus elementum nec. Curabitur at purus molestie, sodales tortor eget, varius odio. Pellentesque velit mi, vulputate ac molestie in, pulvinar mattis massa. Suspendisse potenti. Phasellus id pellentesque leo. Donec ut turpis id augue tincidunt tincidunt et sed ex. Fusce at diam pharetra, mattis nisi a, ornare sem. Praesent tempor felis a risus interdum suscipit. Maecenas accumsan, ipsum vestibulum porta pulvinar, nunc quam pharetra sapien, vel convallis quam nibh nec orci. Maecenas purus mauris, tincidunt in viverra non, dignissim at augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ante metus, rhoncus ut dolor sit amet, auctor consequat lacus. Fusce ac erat vel arcu sagittis maximus. Fusce luctus dolor libero, eget ullamcorper nisi eleifend eget.</p>
            <p>Pellentesque sed quam libero. Aliquam eu fermentum dui. Proin sollicitudin, purus vel ullamcorper blandit, turpis leo aliquet magna, eget commodo dui leo eget sapien. Etiam consectetur accumsan maximus. Morbi porttitor rhoncus diam non commodo. Duis at nunc augue. Curabitur auctor, sapien sed dignissim malesuada, est est volutpat ante, sed eleifend est tortor eget massa. Nulla facilisi.</p>
            <div class="social-icons">
                <i class="fab fa-2x fa-linkedin"></i>
                <i class="fab fa-2x fa-twitter"></i>
                <i class="fab fa-2x fa-instagram"></i>
                <i class="fab fa-2x fa-github"></i>
            </div>

            <div class="button-container">
                <div class="button">Button 1</div>
                <div class="button">Button 2</div>
            </div>
        </div>
    </div>
    <div class="skills-section">
        <div class="wrapper">
            <h1>Skills &amp; <strong>tools</strong></h1>
        </div>
        <div class="wrapper">
            <div class="tech-skills">
                <div class="skill-row">
                    <i class="skill devicon-html5-plain"><br><span>HTML5</span></i>
                    <i class="skill devicon-css3-plain"><br><span>CSS3</span></i>
                    <i class="skill devicon-sass-original"><br><span>SASS</span></i>
                    <i class="skill devicon-javascript-plain"><br><span>Javascript</span></i>
                </div>
                <div class="skill-row">
                    <i class="skill devicon-jquery-plain"><br><span>jQuery</span></i>
                    <i class="skill devicon-react-original"><br><span>React</span></i>
                    <i class="skill devicon-github-plain"><br><span>Github</span></i>
                    <i class="skill devicon-mysql-plain"><br><span>MySQL</span></i>
                </div>
            </div>
            <div class="tools">
                <div class="skill-row">
                    <i class="skill devicon-visualstudio-plain"><br><span>VS Code</span></i>
                    <i class="skill devicon-webpack-plain"><br><span>Webpack</span></i>
                    <i class="skill devicon-photoshop-plain"><br><span>Photoshop</span></i>
                    <i class="skill devicon-slack-plain"><br><span>Slack</span></i>
                </div>
            </div>
        </div>
    </div>
</div>