<header>
    <nav>
        <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
             <ul class="main">
                <li>{{#link-to "about"}}About{{/link-to}}</li>
                <li>{{#link-to "portfolio"}}Portfolio{{/link-to}}</li>
                <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
            </ul>
        <label for="css-toggle-menu" id="css-toggle-menu"></label>
    </nav>
    <div class="main-wrapper">
        <img class="animated rubberBand" src="{{rootURL}}EmberJS-site/assets/images/tomster.png" alt="Ember Logo">
        <h1 class="title">Ember Competency Page</h1>
    </div>
</header>

{{outlet}}


<footer>
	<div class="footer-wrapper">
		<div class="wrapper">
			<div>
				<p>© 2020 Nikolas Spendik. All Rights Reserved.</p>
			</div>
				<div>
                    <div class="social-icons">
                        <i class="fab fa-2x fa-linkedin"></i>
                        <i class="fab fa-2x fa-twitter"></i>
                        <i class="fab fa-2x fa-instagram"></i>
                        <i class="fab fa-2x fa-github"></i>
                    </div>
				</div>
			</div>
	</div>
</footer>
