<div class="contact-section">
	<div class="wrapper">
		<div class="contact-container">
			<div class="contactForm">
				<h1>Get <strong>in touch</strong></h1>
				<form action="https://formspree.io/nspendik@gmail.com" method="POST" target="_blank">
					<div class="contactNameEmail">
						<div class="contactName cc_cursor">
							<label for="name">Name *</label><br>
							<input type="text" name="name" id="name" required="true">
						</div>
						<div class="contactEmail">
							<label for="name">Email *</label><br>
							<input type="email" name="_replyto" id="email" required="true">
						</div>
					</div>
					<div class="contactMessage">
						<label for="message">Message *</label><br>
						<textarea cols="30" rows="4" name="message" id="message" required="true"></textarea>
					</div>
					<button class="button" type="submit" value="Let's chat">Let's chat</button>
				</form>
				<div class="contactIcons cc_cursor">
					<div><a href="mailto:nspendik@gmail.com"><i class="fas fa-2x fa-envelope"></i><br>nspendik@gmail.com</a></div>
					<div class="mobileHide cc_cursor"><i class="fas fa-2x fa-map-marker-alt"></i><br>Etobicoke, ON</div>
				</div>
			</div>
		</div>
	</div>
</div>