<div class="portfolio-section">
    <div class="wrapper">
        <h1>Latest <strong>work</strong></h1>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-image-wrapper wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
            <img src="https://lh3.googleusercontent.com/proxy/fFrEuKZ0RwJT0LvOHQ3IitrD2sqXw4_kJxrteAzYzJPVp_auWKUp6yyEs8uFul50hkfjoHg6ONo54H1hlS0Fy1oSvU750A">
        </div>
        <div class="portfolio-content">
            <div>
                <h2>Project Name</h2>
                <h3>Project Description</h3>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nisi vel tellus fermentum laoreet. Aenean feugiat molestie velit, egestas condimentum metus elementum nec. Curabitur at purus molestie, sodales tortor eget, varius odio.</p>
                <p>Pellentesque sed quam libero. Aliquam eu fermentum dui. Proin sollicitudin, purus vel ullamcorper blandit, turpis leo aliquet magna, eget commodo dui leo eget sapien.</p>
            </div>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-image-wrapper wow fadeInRight" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
            <img src="https://lh3.googleusercontent.com/proxy/fFrEuKZ0RwJT0LvOHQ3IitrD2sqXw4_kJxrteAzYzJPVp_auWKUp6yyEs8uFul50hkfjoHg6ONo54H1hlS0Fy1oSvU750A">
        </div>
        <div class="portfolio-content">
            <div>
                <h2>Project Name</h2>
                <h3>Project Description</h3>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nisi vel tellus fermentum laoreet. Aenean feugiat molestie velit, egestas condimentum metus elementum nec. Curabitur at purus molestie, sodales tortor eget, varius odio.</p>
                <p>Pellentesque sed quam libero. Aliquam eu fermentum dui. Proin sollicitudin, purus vel ullamcorper blandit, turpis leo aliquet magna, eget commodo dui leo eget sapien.</p>
            </div>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-image-wrapper wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
            <img src="https://lh3.googleusercontent.com/proxy/fFrEuKZ0RwJT0LvOHQ3IitrD2sqXw4_kJxrteAzYzJPVp_auWKUp6yyEs8uFul50hkfjoHg6ONo54H1hlS0Fy1oSvU750A">
        </div>
        <div class="portfolio-content">
            <div>
                <h2>Project Name</h2>
                <h3>Project Description</h3>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nisi vel tellus fermentum laoreet. Aenean feugiat molestie velit, egestas condimentum metus elementum nec. Curabitur at purus molestie, sodales tortor eget, varius odio.</p>
                <p>Pellentesque sed quam libero. Aliquam eu fermentum dui. Proin sollicitudin, purus vel ullamcorper blandit, turpis leo aliquet magna, eget commodo dui leo eget sapien.</p>
            </div>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-image-wrapper wow fadeInRight" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
            <img src="https://lh3.googleusercontent.com/proxy/fFrEuKZ0RwJT0LvOHQ3IitrD2sqXw4_kJxrteAzYzJPVp_auWKUp6yyEs8uFul50hkfjoHg6ONo54H1hlS0Fy1oSvU750A">
        </div>
        <div class="portfolio-content">
            <div>
                <h2>Project Name</h2>
                <h3>Project Description</h3>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nisi vel tellus fermentum laoreet. Aenean feugiat molestie velit, egestas condimentum metus elementum nec. Curabitur at purus molestie, sodales tortor eget, varius odio.</p>
                <p>Pellentesque sed quam libero. Aliquam eu fermentum dui. Proin sollicitudin, purus vel ullamcorper blandit, turpis leo aliquet magna, eget commodo dui leo eget sapien.</p>
            </div>
        </div>
    </div>
</div>